.navbar{
    background-color: rgba(35, 120, 231, 0.921);
    font-size: 40px;
    padding: 15px;
    display: flex;

   


}
.icon{
    height: 40px;
    color: white;
   
}
.navbar-link{
    font-size:20px ;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor:pointer;
    padding: 20px;
}
.navbar-links{
    margin-left: 930px;
}